*{
	padding:0;
	margin:0;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/FontAwesome.otf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
       
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url('fonts/LibreBaskerville-Italic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vijaya';
    src: url('fonts/vijaya.ttf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	font-family: 'OpenSans-Regular';
    font-size: 100%;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #212121;
	height: auto;
	text-align: center;
	padding: 13px 0;
	z-index: 1000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.clear {
	clear: both;
}

#nav li{
	list-style-type: none;
	display: inline-block;
}

#nav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-family: 'OpenSans-Bold';
    padding: 0 13px;
}

#nav li .active {
	text-decoration: none;
	color: #F06000;
}

#home {
	width: 100%;
	background: url(images/header-background-LQ.png) no-repeat top center;
   	background-size: cover !important;
	-webkit-background-size: cover !important;
	padding: 165px 0;
	overflow: hidden;
}

.my_block h1{
	font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    line-height: 113px;
}

.bg_opaque {
	width: 58%;
    margin: 0 auto;
    background: rgba(0,0,0,0.7);
    padding: 1%;
    margin-top: 10px;
}

.bg_opaque .info {
	font-family: 'Century Gothic';
	font-size: 18px;
	color: #a1a1a1;
	line-height: 35px;
}

.bg_opaque .info span a {
	color: #fff;
	text-decoration: none;
}

.bg_opaque .info span a:hover {
	color: #f87e29;
}

.down-arrow {
	text-align: center;
	position: relative;
	top: 100px;
}

.down-arrow a {
	text-decoration: none;
	color: #000;
}

.down-arrow a i {
	font-size: 21px;
    border-radius: 50%;
    background-color: #fff;
    padding: 19px;
}

.down-arrow i:hover {
	background-color: #33ccff;
	color: #fff;
	cursor: pointer;
}

/*************************inbuilt icons implementation******************************/
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.icons {
	margin-top: 15px;
}

.icons li {
	list-style-type: none;
	display: inline-block;
	width: 55px;
}

.icons li a {
	text-decoration: none;
	color: #d1d1d1;
	font-size: 30px;
}

.icons li:nth-child(1) a:hover {
	color: #0077b5;
}

.icons li:nth-child(2) a:hover {
	color: #1da1f2;
}

.icons li:nth-child(3) a:hover {
	color: #24292e;
}

.icons li:nth-child(4) a:hover {
	color: #f87e29;
}

.icons li:nth-child(5) a:hover {
	color: #28a9e0;
}

.fa-linkedin:before {
	content: "\f0e1";
}

.fa-twitter:before {
	content: "\f099";
}

.fa-github:before {
	content: "\f09b";
}

.fa-stack-exchange:before {
	content: "\f18d";
}

.fa-feed:before {
	content: "\f09e";
}

.fa-chevron-down:before {
	content: "\f078";
}

.fa-download:before {
	content: "\f019";
}

.fa-chevron-up:before {
	content: "\f077";
}

/*************************text animation section************************/

.my_block h1 { 
	overflow:hidden;
	white-space:nowrap;
	width: 100%;
	animation: typing 6s steps(60, end);
	animation-iteration-count: infinite;
}
						
	@keyframes typing {
	0%{width:0;}
	100%{width:100;}
	}

/***************************aboutMe section******************************/

#aboutMe {
	width: 100%;
	background: #fff;
	padding: 90px 0;
	overflow: hidden;
}

.wrapper {
	width: 74%;
	margin: 0px auto;
}

h2 {
	color: #333;
    font-size: 24px;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.dp {
background: url(images/dp.jpg) no-repeat center;
    height: 169px;
    width: 152px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 5px;
}

.paragraph {
	margin-top: 15px;
	font-size: 24px;
	color: #666;
	line-height: 34px;
	font-family: 'vijaya';
	text-align: center;
}

.paragraph p {
	margin-top: 10px;
}

.paragraph p span {
	cursor: pointer;
}

.paragraph p span a {
	text-decoration:none;
	color: #3d97a9;
}

#read_more {
	cursor: pointer;
	color: #999;
	font-size: 22px;
}

#read_more:hover {
	color: #666;
}

.less {
	cursor: pointer;
	color: #999;
	font-size: 22px;	
}

.less:hover {
	color: #666;
}

.button {
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #444;
	color: #444;
	font-family: 'OpenSans-Bold';
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
	padding: 15px 25px;
}

.fa-download {
	margin-right: 12px;
}

.button:hover {
	color: #fff;
	background-color: #444;
}

/******************************Timeline section************************************/

#timeline {
	width: 100%;
	background-color: #2B2B2B;
	padding: 90px 0;
	overflow: hidden;	
}

.wrapper_timeline {
	width: 70%;
	margin: 0 auto;
}

.main {
	width: 80%;
	margin: 0 auto;
	color: #fff;
	padding-top: 20px;
}

.main ul {
	width: 36%;
	margin-top: 22px;
}

.main ul li {
	list-style-type: none;
}

.main ul li span{
	color: #17c5cb;
	font-weight: bold;
    font-size: 20px;
}

.left_section {
	margin-right: 9%;
	float: left;
}

.right_section {
	margin-left: 9%;
	float: right;
}

.middle_section {
	float: left;
	margin-top: 0!important;
	width: 70px!important;
}

.left_section li {
	min-height: 170px;
}

.right_section li {
	min-height: 170px;
}

.middle_section li:nth-child(odd):after {
	content: "- - - - -";
	position: absolute;
    color: #17c5cb;
    margin-top: 15px;
    margin-left: 69px;
    font-size: 25px;	
}

.middle_section li:nth-child(3):after {
	content: "- - - - -";
	position: absolute;
    color: #17c5cb;
    font-size: 25px;
    margin-left: -66px;		
}

.middle_section li:nth-child(7):after {
	content: "- - - - -";
	position: absolute;
    color: #17c5cb;
    font-size: 25px;
    margin-left: -66px;		
}

.edu {
	background: url(images/grad.png) no-repeat center;
	height: 70px;
}

.exp {
	background: url(images/exp.png) no-repeat center;
	height: 70px;
}

.line {
	background: url(images/line.png) no-repeat center;
	height: 100px;
}

/* .head {
	font-family: 'OpenSans-Bold';
	background-color: #11ABB0;
	padding: 1% 2%;
}

.date {
	margin-top: 10px;
	color: #f6f6f6;
	font-size: 14px;
}

.profile {
	font-family: 'LibreBaskerville-Italic';
	color: #f6f6f6;
	letter-spacing: 1px;
	margin-top: 10px;
} */

.education .degree {
	font-family: 'OpenSans-Bold';
	background-color: #11ABB0;
	padding: 1% 2%;
}

.education .school {
	font-family: 'LibreBaskerville-Italic';
	color: #f6f6f6;
	letter-spacing: 1px;
	margin-top: 10px;
}

.education .university {
	font-family: 'LibreBaskerville-Italic';
	color: #f6f6f6;
	letter-spacing: 1px;
	margin-top: 10px;
}

.education .date {
	margin-top: 10px;
	color: #f6f6f6;
	font-size: 14px;
}

.education .description {
	font-family: 'LibreBaskerville-Italic';
	color: #f6f6f6;
	letter-spacing: 1px;
	margin-top: 10px;
}

/* ######################################## */
.workexp .title {
	font-family: 'OpenSans-Bold';
	background-color: #11ABB0;
	padding: 1% 2%;
}

.workexp .company {
	font-family: 'LibreBaskerville-Italic';
	color: #f6f6f6;
	letter-spacing: 1px;
	margin-top: 10px;
}

.workexp .date {
	margin-top: 10px;
	color: #f6f6f6;
	font-size: 14px;
}

.workexp .description {
	color: #f6f6f6;
	letter-spacing: 1px;
	margin-top: 10px;
}

/******************************education section************************************/
/* 
#education {
	width: 100%;
	background-color: #2B2B2B;
	padding: 90px 0;
	overflow: hidden;
}

.details {
	text-align: center;
	margin-top: 20px;
}

.details ul {
	line-height: 30px;
}

.details ul li {
	list-style-type: none;
	color: #b3b1b1;
	font-size: 15px;
}

.details ul li span {
	font-family: 'OpenSans-Semibold';
}

.details ul .school {
	color: #f6f6f6;
    font-family: 'opensans-bold', sans-serif;
    font-size: 20px;
}

.details ul .address {
	font-size: 16px;
    font-family: 'LibreBaskerville-Italic';
    color: #dddcdc;
    letter-spacing: 1px;
}

.details ul .degree {
	color: #fff;
    font-family: 'OpenSans-Semibold';
    font-size: 18px;
}

.details ul .specialize {
	font-family: 'opensans-bold', sans-serif; 
	color: #ccc;
} */

/*******************************skills section*****************************/

#skillSets {
	width: 100%;
	background-color: #fff;
	padding: 90px 0;
	overflow: hidden;
}

.skill_section {
	width: 100%;
	margin: 0 auto;
}

.skill_section div {
	display: inline-block;
	width: 45%;
	text-align: center;
}

.skill_section div p:nth-child(2){
	font-size: 18px;
	font-family: 'opensans-bold';
	color: #333;
}

.skill_section div p:nth-child(3){
	color: #777;
	font-size: 15px;
	line-height: 30px;
	margin-top: 5px;
}

.skill_section span:hover{
	font-weight: bold;
	color: #11ABB0;
}

#pm {
	background: url(images/pm.png) no-repeat center;
	height: 80px;
}

#sd {
	background: url(images/sd.png) no-repeat center;
	height: 80px;
}

#qa {
	background: url(images/qa.png) no-repeat center;
	height: 80px;
}

#da {
	background: url(images/da.png) no-repeat center;
	height: 80px;
}


/*********************************work experience section*******************/
/* 
#workExp {
	width: 100%;
	background-color: #2B2B2B;
	padding: 90px 0;
	overflow: hidden;
}

.exp_details {
	text-align: center;
	margin-top:40px;
}

.org_details {
	line-height: 30px;
}

.org_details li {
	list-style: none;
}

.org_details li span {
	font-family: 'OpenSans-Bold';
}

.org_details li span a {
	text-decoration: none;
	color: #f1f2f2;
}

.org_details li span a:hover {
	color: #ca4243;
}

.org_details li:first-child {
	font-family: 'OpenSans-Light';
	font-size: 16px;
	color: #f1f2f2;
	line-height: 40px;
}

.org_details .company {
	font-family: 'OpenSans-Light';
	font-size: 16px;
	color: #f1f2f2;
	line-height: 40px;
}

.org_details .about {
	font-size: 15px;
	color: #f1f2f2;
}

.org_details .title {
	font-family: 'LibreBaskerville-Italic';
	font-size: 16px;
	color: #dddcdc;
	letter-spacing: 1px;
}

#logo_1 {
	background: url(images/redbus_logo.png) no-repeat 26%;
	padding-left: 60px;
}

.role {
	font-size: 14px;
	font-family: 'OpenSans-Light';
	color: #ddd;
	line-height: 32px;
	margin-top: 5px;
}

.role li {
	list-style-type: none;
}

.role li span {
	font-family: 'OpenSans-Bold';
}

.num2 {
	margin-top: 50px;
}

#logo_2 {
	background: url(images/sg_logo.png) no-repeat 20%;
	padding-left: 45px;
}

#logo_3 {
	background: url(images/sourcen_logo.png) no-repeat 29%;
	padding-left: 45px;
}
 */
/*******************************blog section*****************************/

#blog {
	width: 100%;
	background-color: #fff;
	padding: 150px 0;
	overflow: hidden;
}

#blog_section {
	text-align: center;
}

.blog_info {
	margin-top:20px;
	color: #11ABB0;
	font-family: 'OpenSans-Bold';
	font-size: 18px;
}

.blog_heading .blog_date {
    font-family: 'LibreBaskerville-Italic';
    color: #999;
    font-size: 13px;
}

.blog_heading .blog_title {
	color: #258998;	
}

.blog_heading span a {
	text-decoration: none;
	color: #11ABB0;
	text-transform: uppercase;
	cursor: pointer;
}

.blog_heading span a:hover {
	color: #258998;
}

.tags {
	margin-top: 10px;
}

.tags span a{
	text-decoration: none;
    font-family: 'OpenSans-Light';
    font-size: 12px;
    color: #444;
    background-color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #f1f2f3;
}

.tags span a:hover{
	font-weight: bold;
	color: #333;
}

#view_post {
	margin-top: 30px;
	color:#999;
	font-size: 16px;
	cursor: pointer;
	text-align:center;	
}

.posts{
	margin-top: 30px;
	color:#999;
	font-size: 16px;
	cursor: pointer;
	text-align:center;
}

#view_post:hover {
	color: #666;
}

.posts:hover {
	color: #666;
}

#more_post {
	text-align:center;
}

/*******************************contact section*****************************/

#contactMe {
	width: 100%;
	background-color: #191919;
	padding: 160px 0;
	overflow: hidden;
}

.contact_body {
	text-align: center;
}

.contact_body h2 {
	color: #fff;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.contact_body p {
	margin-top:20px;
	color: #11ABB0;
	font-size: 18px;
}

.contact_body p:hover{
	color: #00cdff;
}


/*************************************footer****************************************/

footer {
	width: 100%;
	color: #303030;
    text-align: center;
    background: #000;
    padding-bottom: 50px;
}

footer .go-top {
    font-size: 21px;
    position: relative;
    top:-25px;
}

footer .go-top a {
	text-decoration: none;
}

footer .go-top a i {
    background-color: #525252;
    color: #fff;
    border-radius: 50%;
    padding: 19px;
    cursor: pointer;
}

footer .go-top a i:hover{
	background: #11ABB0;
}

.footer_icon {
	margin-top: 0;
}

.footer_icon li {
	width: 70px;
}

.footer_icon li a {
	color: #525252;
}

footer p {
	color: #525252;
    font-size: 14px;
    margin-top: 30px;
}

/* footer p span:hover {
	color: #ccc;
} */

footer p span a {
	text-decoration: none;
	color: #777;
}

footer p span a:hover{
	color: #ccc;
}



