*{
	padding:0;
	margin:0;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/FontAwesome.otf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
       
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url('fonts/LibreBaskerville-Italic.otf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	font-family: 'OpenSans-Regular';
    font-size: 100%;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #313131;
	height: auto;
	text-align: center;
	padding: 13px 0;
	z-index: 1000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.clear {
	clear: both;
}

#nav li{
	list-style-type: none;
	display: inline-block;
}

#nav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-family: 'OpenSans-Bold';
    padding: 0 13px;
}

#nav li .active {
	text-decoration: none;
	color: #F06000;
}

#home {
	width: 100%;
	background: url(images/header-background3.png) no-repeat top center;
   	background-size: cover !important;
	-webkit-background-size: cover !important;
	padding: 165px 0;
	overflow: hidden;
}

.my_block h1{
	font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    line-height: 113px;
}

.my_block .info {
	font-family: 'Century Gothic';
	width: 56%;
	margin: 0px auto;
	font-size: 18px;
	color: #ccc;
	margin-top: 20px;
	line-height: 35px;
	    text-shadow: 0px 1px 1px #000;
}

.my_block .info span {
	color: #fff;
}

.my_block .info span a {
	color: #fff;
	text-decoration: none;
}

.my_block .info span a:hover {
	color: #f87e29;
}

.down-arrow {
	text-align: center;
	position: relative;
	top: 110px;
}

.down-arrow a {
	text-decoration: none;
	color: #000;
}

.down-arrow a i {
	font-size: 21px;
    border-radius: 50%;
    background-color: #fff;
    padding: 19px;
}

.down-arrow i:hover {
	background-color: #33ccff;
	color: #fff;
	cursor: pointer;
}

/*************************inbuilt icons implementation******************************/
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.icons {
	margin-top: 15px;
}

.icons li {
	list-style-type: none;
	display: inline-block;
	width: 55px;
}

.icons li a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}

.icons li:nth-child(1) a:hover {
	color: #0077b5;
}

.icons li:nth-child(2) a:hover {
	color: #1da1f2;
}

.icons li:nth-child(3) a:hover {
	color: #24292e;
}

.icons li:nth-child(4) a:hover {
	color: #f87e29;
}

.icons li:nth-child(5) a:hover {
	color: #28a9e0;
}

.fa-linkedin:before {
	content: "\f0e1";
}

.fa-twitter:before {
	content: "\f099";
}

.fa-github:before {
	content: "\f09b";
}

.fa-stack-exchange:before {
	content: "\f18d";
}

.fa-feed:before {
	content: "\f09e";
}

.fa-chevron-down:before {
	content: "\f078";
}

.fa-download:before {
	content: "\f019";
}

.fa-chevron-up:before {
	content: "\f077";
}

/*************************text animation section************************/

.my_block h1 { 
	overflow:hidden;
	white-space:nowrap;
	width: 100%;
	animation: typing 6s steps(60, end);
	animation-iteration-count: infinite;
}
						
	@keyframes typing {
	0%{width:0;}
	100%{width:100;}
	}

/***************************aboutMe section******************************/

#aboutMe {
	width: 100%;
	background: #fff;
	padding: 175px 0;
	overflow: hidden;
}

.wrapper {
	width: 74%;
	margin: 0px auto;
}

.about_heading {
	float: left;
	width: 15%;
}

.about_heading li {
	list-style-type: none
}

.about_heading li:first-child span {
	color: #313131;
    font-family: 'OpenSans-Bold';
	font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}

.about_heading li:last-child img {
	max-width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 8px;
} 

.paragraph {
	width: 80%;
	float: right;
}

.para {
	font-size: 27px;
	color: #666;
	line-height: 30px;
	margin-bottom: 40px;
	padding-top: 33px;
	font-family: 'Vijaya';
}

.button {
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #444;
	color: #444;
	font-family: 'OpenSans-Bold';
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
	padding: 15px 25px;
}

.fa-download {
	margin-right: 12px;
}

.button:hover {
	color: #fff;
	background-color: #444;
}

/******************************education section************************************/

#education {
	width: 100%;
	background-color: #2B2B2B;
	padding: 131px 0;
	overflow: hidden;
}

.heading {
	float: left;
}

.heading span {
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-bottom: 3px solid #11ABB0;
	padding-bottom: 6px;
}

.details {
	width: 80%;
	float: right;
}

.details ul {
	line-height: 40px;
}

.details ul li {
	list-style-type: none;
	color: #b3b1b1;
	font-size: 15px;
}

.details .school{
	color: #fff;
	font-family: 'opensans-bold', sans-serif;
	font-size: 25px;
}

.details .address{
	font-size: 16px;
	font-family: 'LibreBaskerville-Italic';
	color: #dddcdc;
	letter-spacing: 1px;
}

.details .degree{
	color: #fff;
	font-family: 'opensans-bold', sans-serif;
	font-size: 20px;
}

.details .major{
	font-family: 'opensans-bold', sans-serif;
}	

.details .points{
	list-style-type: disc;
    margin-left: 18px;
}

/* .details ul li:nth-child(1){
	color: #fff;
	font-family: 'opensans-bold', sans-serif;
	font-size: 25px;
}

.details ul li:nth-child(2){
	font-size: 16px;
	font-family: 'LibreBaskerville-Italic';
	color: #dddcdc;
	letter-spacing: 1px;
}

.details ul li:nth-child(3){
	list-style-type: disc;
    margin-left: 18px;
} */

/*******************************skills section*****************************/

#skillSets {
	width: 100%;
	background-color: #fff;
	padding: 90px 0;
	overflow: hidden;
}

.heading .skill {
	color: #313131;
	font-family: 'OpenSans-Bold';
}


/*********************************work experience section*******************/

#workExp {
	width: 100%;
	background-color: #2B2B2B;
	padding: 100px 0;
	overflow: hidden;
}

.exp_info {
	width: 80%;
	float: right;
}

.org_details {
	line-height: 25px;
}

.org_details li {
	list-style: none;
}

.org_details li span {
	font-family: 'OpenSans-Bold';
}

.org_details li span a {
	text-decoration: none;
	color: #f1f2f2;
}

.org_details li span a:hover {
	color: #ca4243;
}

.org_details li:first-child {
	font-family: 'OpenSans-Light';
	font-size: 16px;
	color: #f1f2f2;
	line-height: 40px;
}

.org_details .company {
	font-family: 'OpenSans-Light';
	font-size: 16px;
	color: #f1f2f2;
	line-height: 40px;
}

.org_details .about {
	font-family: 'LibreBaskerville-Italic';
	font-size: 12px;
	color: #f1f2f2;
}

.org_details .title {
	font-family: 'LibreBaskerville-Italic';
	font-size: 15px;
	color: #dddcdc;
	letter-spacing: 1px;
}

/* .org_details li:first-child {
	font-family: 'OpenSans-Light';
	font-size: 16px;
	color: #f1f2f2;
	line-height: 40px;
}

.org_details li:last-child {
	font-family: 'LibreBaskerville-Italic';
	font-size: 15px;
	color: #dddcdc;
	letter-spacing: 1px;
}
 */
#logo_1 {
	background: url(images/redbus_logo.png) no-repeat left center;
	padding-left: 60px;
}

.role {
	font-size: 14px;
	font-family: 'OpenSans-Light';
	color: #ddd;
	line-height: 30px;
	margin-top: 20px;
}

.role li {
	list-style-type: disc;
}

.role li span {
	font-family: 'OpenSans-Bold';
}

.num2 {
	margin-top: 50px;
}

#logo_2 {
	background: url(images/sg_logo.png) no-repeat left center;
	padding-left: 45px;
}

#logo_3 {
	background: url(images/sourcen_logo.png) no-repeat left center;
	padding-left: 45px;
}

/*******************************blog section*****************************/

#blog {
	width: 100%;
	background-color: #fff;
	padding: 200px 0;
	overflow: hidden;
}

#blog_info {
	text-align: center;
}

#blog_info h2 {
	color: #333;
	font-size: 24px;
	font-family: 'OpenSans-Bold';
	text-transform: uppercase;
}

.blog_head {
	color: #11ABB0;
	font-size: 20px;
	margin-top:20px;
}

.description {
	color: #333;
	width:75%;
	margin: 0 auto;
	line-height: 30px;
	margin-top:20px;
}

.posts{
	margin-top: 20px;
	color:#11ABB0;
	font-size: 22px;
	font-family: 'OpenSans-Bold';
	cursor: pointer;
	text-align:center;
}

#new_posts h3{
	text-align:center;
}

#older_post h3 {
	text-align: center;
}

/*******************************contact section*****************************/

#contactMe {
	width: 100%;
	background-color: #191919;
	padding: 160px 0;
	overflow: hidden;
}

.contact_body {
	text-align: center;
}

.contact_body h2 {
	color: #fff;
	font-size: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.contact_body p {
	margin-top:20px;
	color: #11ABB0;
	font-size: 18px;
}

.contact_body p:hover{
	color: #00cdff;
}


/*************************************footer****************************************/

footer {
	width: 100%;
	color: #303030;
    text-align: center;
    background: #000;
    padding-bottom: 50px;
}

footer .go-top {
    font-size: 21px;
    position: relative;
    top:-25px;
}

footer .go-top a {
	text-decoration: none;
}

footer .go-top a i {
    background-color: #525252;
    color: #fff;
    border-radius: 50%;
    padding: 19px;
    cursor: pointer;
}

footer .go-top a i:hover{
	background: #11ABB0;
}

.footer_icon {
	margin-top: 0;
}

.footer_icon li {
	width: 70px;
}

.footer_icon li a {
	color: #525252;
}

footer p {
	color: #525252;
    font-size: 14px;
    margin-top: 30px;
}

footer p span:hover {
	color: #ccc;
}

footer p span a {
	text-decoration: none;
	color: #777;
}

footer p span a:hover{
	color: #ccc;
}



